@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Metamorphous&display=swap');
@import 'header-footer.css';
:root {
    --purple-color: #681343;
    --gold-color: #f4af1c;
    --blue-color: #0A1B9B;
    --teal-color: #002E2C;

    --heading-font: Metamorphous, Courier, Trebuchet;
    --paragraph-font: Almendra, Arial, Tahoma;

    --heading-font-size: 50px;
    --medium-font-size: 25px;
    --paragraph-font-size: 15px;
}

body, a, button {
  cursor: url('../home-images/magicwand.png'), auto;
}

h1 {
    font: var(--heading-font);
    font-size: var(--heading-font-size);
    color: var(--gold-color);
}

h2, h3, a {
    font: var(--heading-font);
    font-size: var(--medium-font-size);
    color: white;
}

p, input, label, button {
    font: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    color: white;
}

a {
    text-decoration: none;
}

input {
    background-color: var(--purple-color);
    border: white solid 2px;
    border-radius: 5px;
}

body {
    background-color: var(--purple-color);
}

a:hover, button:hover {
    transform: translateY(-2.5px);
}

#homeNav {
    animation: float 1s ease infinite;
}

#characterNav {
    animation: float 1s ease 666ms infinite;
}

#savedNav {
    animation: float 1s ease 333ms infinite;
}

@keyframes float {
    0% { transform: translateY(0)}
    50% { transform: translateY(-5px)}
    100% { transform: translateY(0)}
}

.sparkle {
    position: fixed;
    font-size: 10px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    animation: sparkleFade .6s ease-out forwards;
    text-shadow: 0 0 6px rgba(255,255,255,0.8),
                0 0 12px rgba(150,200,255,0.6);
}

@keyframes sparkleFade {
    0% { opacity: 1; transform: scale(1) translateY(0); }
    100% { opacity: 0; transform: scale(.5) translateY(-10px); }
}

@view-transition {
    navigation: auto;
}

/* Example for a custom fade effect */
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

::view-transition-old(root) {
    animation: fade-out 1s ease-out forwards;
}

::view-transition-new(root) {
    animation: fade-in 1s ease-in forwards;
}

@media screen and (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}